#menu{
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

#menu li{
  list-style: none;
  display: inline-block;
}

#menu li a {
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 14px 30px;
  text-transform: uppercase;
}

#menu li a:before {
  content: "";
  width: 60px;
  position: absolute;
  border-bottom: 6px solid white;
  bottom: 0;
  right: 350px;
  transition: 0.7s all;
}

#menu li a:hover:before{
  right: 0;
}
